@model  preguntados_ppodgaiz.Models.Dominio.Player
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #canvasContainer {
        background-image: url('../../Content/Images/wheel_back.png');
        background-repeat: no-repeat; /* Ensure that background does not repeat */
        background-position: center; /* Ensure image is centred */
        width: 800px; /* Width and height should at least be the same as the canvas */
        height: 800px;
        background-size: 700px;
    }
</style>
<div class="page-layout carded full-width single-scroll">
    <div class="top-bg bg-deep-purple-100 "></div>
    <!-- CONTENT -->
    <div class="page-content-wrapper">

        <!-- HEADER -->
        <div class="page-header light-fg row no-gutters align-items-center justify-content-between">

            <!-- APP TITLE -->
            <div class="col-12 col-sm">

                <div class="logo row no-gutters justify-content-center align-items-start justify-content-sm-start">

                    <div class="logo-text">
                        <div class="h4">Mi sala</div>
                    </div>
                </div>

            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <div class="page-content-card p-10">
            <div class="form-row mt-2">
                <div class="col-8" style="border-style:outset;">
                    <div class="form-group row">
                        <h3 class="col-2 offset-4"><strong>Mi Sala </strong> </h3>
                    </div>
                    <div class="form-group row" >
                        <div id="idMiSala" class="col-9 offset-1" style="border-style:inset;width:10em;height:500px;max-width:80%;overflow:auto">
                            <div class="form-inline">
                                <h3>Categoría sorteada:</h3>
                                <h4 id="idTituloCategoriaSorteada"></h4>
                            </div>
                            <div class="form-group row">
                                <div id="idJugadoresElejidos" class="col-7 offset-2" style="border-style:inset;overflow:auto;width:100px;height:300px">
                                    <table class="table table-responsive table-striped table-bordered col-4">
                                        <thead>
                                            <tr>
                                                <th>Nick</th>
                                            </tr>
                                        </thead>
                                        <tbody id="idTbodyJugadoresElejidos"></tbody>
                                    </table>
                                </div>
                            </div>
                            <a  id="idEmpezar" class="btn bg-blue-A400 text-white btn-block col-9 offset-1">Empezar</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <a id="idCrearSala" class="btn bg-deep-orange text-white btn-block col-9 offset-1">Crear sala</a>
                    </div>
                </div>
                <div class="col-4" style="border-style:outset;">
                    <div class="form-group row">
                        <h3 class="col-2 offset-4"><strong>Jugadores </strong> </h3>
                    </div>
                    <div class="form-group row">
                        <div id="idJugadores" class="col-10 offset-1" style="border-style:inset;overflow:auto;width:100%">
                            <table class="table table-responsive table-striped table-bordered col-12" style="width:500px;height:300px;padding:0px">
                                <thead>
                                    <tr>
                                        <th>Nick</th>
                                        <th>Agregar</th>
                                    </tr>
                                </thead>
                                <tbody id="idTbodyJugadores">
                                    @*@foreach (var item in Model)
                                    {
                                        <tr id="@("idRowJugadores"+ item.Id)" >
                                            <td>@item.Nombre</td>
                                            <td> <a id="@item.Id" class="btn bg-deep-orange text-white btn-block btnAgregarJugador">Agregar</a></td>
                                        </tr>
                                    }*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("Categoria", "" ,new {@id = "idHiddenCategoria" });
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 class="modal-title offset-4">Seleccione una categoría</h4>
            </div>
            <div class="modal-body" style="">
                <div class="" id="canvasContainer">
                    <canvas id="canvas" width="800" height="800">
                        Canvas not supported, please user another browser.
                    </canvas>
                </div>
                <script>
                    var segments;
                    var theWheel;
                     $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetCategorias", "Categoria")',
                        success: function (data) {
                        segments = data;
                        theWheel = new Winwheel({
                        'outerRadius': 350,    // Use these three properties to
                        'centerX': 400,    // correctly position the wheel
                        'centerY': 400,    // over the background.
                        'lineWidth': 2,
                        'numSegments': data.length,
                        'segments':data,
                        'animation':                   // Note animation properties passed in constructor parameters.
                        {
                            'type': 'spinToStop',  // Type of animation.
                            'duration': 5,             // How long the animation is to take in seconds.
                            'spins': 8,            // The number of complete 360 degree rotations the wheel is to do.4
                            // Remember to do something after the animation has finished specify callback function.
                            'callbackFinished' : 'getCategoria()',

                        }
                        });
                            }
                        });
                    function getCategoria()
                    {
                        // Call getIndicatedSegment() function to return pointer to the segment pointed to on wheel.
                        let categoria = theWheel.getIndicatedSegment();
                        $("#idHiddenCategoria").val(categoria.text);
                        $("#idTituloCategoriaSorteada").text(categoria.text);
                        
                    }
                </script>
                <div class="alert alert-danger" id="errorDiv" style="display:none">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-" data-dismiss="modal">Cancelar</button>
                <button id="idBtnGuardarCategoria" type="button" class="btn btn-success btnGuardarCategoria" onClick="theWheel.startAnimation();">Confirmar Categoría</button>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/Binit/js/Winwheel.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script>
    $(document).ready(function () {
        $("#idCrearSala").click(function () {
            $("#exampleModal").modal('show');
            $(".modal-backdrop").hide();
            //Setearlo como owner
             $.ajax({
                type: "POST",
                data: {id : '@Model.Id'},
                url: '@Url.Action("SetOwner", "Lobby")',
                success: function (data) {
                  
                }
            });
        });

        $("#idEmpezar").click(function () {
            var categoria = $("#idHiddenCategoria").val();
             $.ajax({
                 type: "POST",
                 data: {categoria :categoria},
                url: '@Url.Action("EmpezarPartida", "Lobby")',
                success: function (data) {
                    window.location.href = '@Url.Action("Jugar","Jugar")?id=' + data ;
                }
            });
        });

        
        window.setInterval(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("VerificarComienzo", "Lobby")',
                success: function (data) {
                    if (data == "ok") {
                        console.log("sas");
                    }
                }
            });
        }, 4000);


        window.setInterval(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetPlayers", "Lobby")',
                success: function (data) {
                    var html = "";
                    if (data != null) {
                        for (var i = 0; i < data.length; i++) {
                            html +=
                            '<tr id="rowJugadores'+ data[i].Id +'">' +
                            ' <td>' + data[i].Nombre + '</td>' +
                            ' <td> <a id="' + data[i].Id + '" data-nombre="' +data[i].Nombre + '" class="btn bg-deep-orange text-white btn-block btnAgregarJugador">Agregar</a></td>' +
                            '</tr>';
                            }
                            $("#idTbodyJugadores").html(html);
                            refrescarClicksAgregarJugador();
                        }
                    }
            });

        }, 4000);
    })
    function refrescarClicksAgregarJugador() {
        $(".btnAgregarJugador").off();
        $(".btnAgregarJugador").click(function () {
            var id = $(this).attr('id');
            var nombre = $(this).data('nombre');
            $("#rowJugadores" + id).remove();
             var html =
            '<tr id="idRowJugadoresElejidos'+ id +'">' +
                ' <td>' + nombre + '</td>' +
            '</tr>';
            $("#idTbodyJugadoresElejidos").append(html);
            //Cambiar el estado del jugador a esperando
             $.ajax({
                type: "POST",
                data: {id : id},
                url: '@Url.Action("SetToQueue", "Lobby")',
                success: function (data) {
                   
                    
                }
            });

        });
    }
</script>

