@model preguntados_ppodgaiz.Models.ViewModels.Resultado.ResultadoMultijugadorViewModel

@{
    ViewBag.Title = "Resultados";
    int cont = 1;
    int score = 0;
}

<div class="page-layout carded full-width single-scroll">

    <div class="top-bg bg-deep-purple-100 "></div>

    <!-- CONTENT -->
    <div class="page-content-wrapper">
        <!-- HEADER -->
        <div class="page-header light-fg row no-gutters align-items-center justify-content-between">
            <!-- APP TITLE -->
            <div class="col-12 col-sm">
                <h4 class="col-md-6 offset-4">Resultados Categoria: @Model.Categoria</h4>
            </div>
            <button type="button" class="btn btn-icon">
                <i class="icon icon-magnify"></i>
            </button>
        </div>

        @foreach (var item in Model.ResultadosPorJugador)
        {
            <div class="page-content-card p-10" id="idResultados">
                <div class="form-row mt-2">
                    <h3>@("Jugador: " + item.NickPlayer)</h3>
                    @foreach (var pregunta in item.Preguntas)
                    {
                        <div class="card border-info mb-3 offset-sm-1 animated fadeInLeft" style="width:200rem;">
                            <div style="font-family:cursive; font-weight: bold;" class="card-header align-content-center text-uppercase">Pregunta: @pregunta.TextoPregunta </div>
                            <div class="card-body text-info align-content-around" style="font-family:cursive">
                                @foreach (var respuesta in pregunta.Respuestas)
                                {
                                    <h6 class="card-text a-align-center">Respuesta  @cont</h6>
                                    if (respuesta.IdRespuesta == pregunta.RespuestaSeleccionada && respuesta.EsCorrecta)
                                    {
                                         score = score + 1; 
                                        <button class="btn btn-lg btn-block btn-success" id="@respuesta.IdRespuesta">@respuesta.TextoRespuesta</button>
                                    }
                                    else if (respuesta.IdRespuesta == pregunta.RespuestaSeleccionada && !respuesta.EsCorrecta)
                                    {

                                        <button class="btn btn-lg btn-block btn-danger" id="@respuesta.IdRespuesta">@respuesta.TextoRespuesta</button>

                                    }
                                    else if (respuesta.IdRespuesta == pregunta.RespuestaCorrecta)
                                    {
                                       
                                        <button class="btn btn-lg btn-block btn-success" id="@respuesta.IdRespuesta">@respuesta.TextoRespuesta</button>
                                    }
                                    else
                                    {
                                        
                                        <button class="btn btn-lg btn-block btn-default" id="@respuesta.IdRespuesta">@respuesta.TextoRespuesta</button>
                                    }
                                    cont = cont + 1;
                                }
                                @{
                                    cont = 1;

                                } 
                            </div>
                        </div>
                    }

                </div>
                <div class="form-row mt-2">
                    <div class="col-md-10 offset-sm-1 form-group animated zoomIn ">
                        <div style="height:200px;width:100%;background-color:cadetblue;border-radius:5px;text-align:center;text-shadow: 3px 2px white;box-shadow: 10px 5px 5px black;">
                            <label style="font-size:500%;font-family:fantasy;">Score:@(score + "/4")</label>
                            @{score = 0;}
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- / HEADER -->
    </div>
</div>

<script>
    @*$(document).ready(function () {
        window.setInterval(function () {
            $.ajax({
                type: "GET",
                data: {idJuego : '@Model'},
                url: '@Url.Action("VerificarFinal", "Jugar")',
                success: function (data) {
                    if (data == true) {
                        $.ajax({
                            type: "GET",
                            url: '@Url.Action("GetResultados","Jugar")',
                            data: { model: respuesta },
                            success: function (data) {

                                mostrarResultados(data);
                                setTimeout(
                                    Redirigir, 3000);
                            }
                        });
                    } else {
                        console.log("sa");
                    }
                }
            });

        }, 4000);
    })*@
</script>